<!DOCTYPE html>
<html>
  <head>
    <title>News API Demo</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <h4>NewsApi</h4>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/sports">Sports</a></li>
        </ul>
      </nav>
    </header>
    <div class="news">
      <h3>Top News Headlines</h3>
      <ul>
        <% articles.forEach(article => { %>
          <li>
            <h4><%= article.title %></h4>
            <!-- <p><%= article.description %></p> -->
            <% if (article.content) { %>
              <p><%= article.content.substring(0, 500) %>...</p>
            <% } else { %>
              <p>No description available.</p>
            <% } %>
            <a href="<%= article.url %>">Read more</a>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
